<header class="site-header">
  <div class="header-inner">

    <div class="top-links">
      <a href="#">NEW WEBSITE CLICK HERE</a>
      <a href="#">WHICH BLENDS ARE BEST FOR ME?</a>
      <a href="#">PRODUCTS</a>
      <a href="#">TESTIMONIALS</a>
      <a href="#">ABOUT</a>
      <a href="#">SAMPLES</a>
      <a href="#">COMBOS</a>
    </div>

    <div class="sub-links">
      <a href="#">SCIENCE</a>
      <a href="#">CART</a>
      <a href="#">CONTACT SHIPPING</a>
      <a href="#">MAILING LIST</a>
      <a href="#">INGREDIENTS</a>
      <a href="#">TEXT SIGN UP</a>
      <a href="#">CONTACT GAVIN</a>
    </div>

    <div class="extra-links">
      <a href="#">TELEGRAM PORTAL (MESSAGE ORDER NUMBER)</a>
      <a href="#">ULTIMATE DRY FASTING RESOURCE</a>
      <a href="#">88/8: EXTREME WEIGHTLOSS PROTOCOL</a>
    </div>

    <div class="header-right">
      <span>$0.00</span>
    </div>

  </div>
</header>
